<!-- เราสามารถทำ lazy loading ได้ด้วยการใช้ @defer ภายใน Template -->
<!-- Component, Directive, Pipe ทุกอย่างสามารถทำ defer ได้หมด -->
<!-- แต่จะต้องเป็น standalone เนื่องจากเราสามารถนำมาใช้ใน template เราได้ทันที ไม่ขึ้นอยู่กับ Module ใด -->
<!-- และโค้ดภายใน @defer จะไม่สามารถถูกเรียกใช้ได้จากภายนอก เพราะว่ายังไม่ถูกโหลด ป้องกันปัญหาที่จะตามมา -->
<!-- เราสามารถใช้ (on ...) เพื่อสั่งให้ load ตาม condition ที่กำหนดได้ -->
<!-- ถ้าเราไม่ใส่มาจะถือว่าเป็น on idle ซึ่งเป็น default ของ @defer -->
<!-- มีอีกหลายตัวให้ใช้งาน ทั้ง idle, viewport, timer(value), interaction, hover, immediate -->
<!-- idle คือการโหลดเนื้อหาเมื่อ Application ไม่ได้มีอะไรเร่งด่วนให้ทำ (ว่าง ๆ) -->
<!-- viewport จะโหลดเมื่อเนื้อหาที่เป็น Deferred ถูกแสดงขึ้นบนจอ เช่น เลื่อนจอไปด้านล่าง -->
<!-- timer(value) จะโหลดหลังจากเวลาผ่านไปตามที่กำหนด ใส่เวลาตามด้วยหน่วย s / ms -->
<!-- เช่น @defer (on timer(1s)) { ... } -->
<!-- interaction จะโหลดหลังจากที่มีการ click / keydown -->
<!-- hover จะโหลดเมื่อเราเอาเมาส์ไปวางไว้ข้างบน Deferred Content -->
<!-- immediate จะโหลดทันทีหลังจากที่ Non-Deferred ใน Template นี้โหลดเสร็จ -->
<!-- นอกจากพวก on แล้วเรายังมี when เพื่อทำ condition rendering ได้เหมือนกัน -->
<!-- โดยเราจะใส่ when เอาไว้แทน on เสร็จแล้วเว้นวรรคแล้วตามด้วย condition แบบไม่ต้องครอบวงเล็บ -->
<!-- เช่น @defer (when isVisible) { ... } โดยค่า condition จะต้องเป็น boolean -->
<!-- แต่ว่าถ้าเกิดเราดันใช้ @defer กับ Component ที่โหลดนานมาก ๆ ล่ะทำยังไงดี -->
<!-- สมมติว่าผู้ใช้งานเลื่อนจอไปด้านล่างแล้วจะเจอกับ @for ที๋โหลด Component ตัวละ 1s 5 ตัว -->
<!-- แปลว่าจะต้องรอทั้งหมด 1 วิ 5 ครั้งที่เลื่อนเจอ Component นั้น ๆ -->
<!-- แต่ว่าเราไม่จำเป็นต้องรอนานขนาดนั้น เราสามารถโหลดรอล่วงหน้าเอาไว้ก่อนได้ -->
<!-- สมมติว่าเราให้ lazy loading @defer เมื่อเราเลื่อนไปเจอมัน (viewport) -->
<!-- ระหว่างนั้นที่เราไม่ได้ทำอะไรก็อาจจะให้โหลดเอาไว้ก่อนโดยใช้คำสั่ง prefetch ได้ -->
<!-- วิธีเขียนก็คือให้เราคั่น on / when ของเราด้วย / แล้วก็ใส่ prefetch เอาไว้ด้านหลัง -->
<!-- เงือนไขในการโหลดของ prefetch จะเขียนเหมือน @defer นั่นแหละ แต่ว่าเราจะเจอ on idle อยู่บ่อย ๆ -->
<!-- เพราะว่าพอไม่ได้ทำอะไร ว่าง ๆ ก็ให้โหลดรอไปเลย สะดวกดี ไม่วุ่นวายเท่าไร -->
<!-- จะมี best practice อยู่สองข้อด้วยกัน -->
<!-- ข้อแรก ห้าม nested @defer ถ้าจำเป็นจริง ๆ จะต้องมี triggers คนละตัวกันในแต่ละ @defer -->
<!-- ข้อสอง ห้าม defer Component ที่ต้องแสดงผลบนหน้าจอเมื่อโหลดหน้าเว็บนั้นครั้งแรก (init) -->
@defer (on interaction; prefetch on idle) {
<h1>Hello World!</h1>
}

<!-- @loading มีเอาไว้เพื่อแสดง content ชั่วคราวระหว่างที่ deferred content กำลังโหลด -->
<!-- จะเปลี่ยนจาก placeholder content เป็น loading content แล้วค่อยไป deferred content -->
<!-- แต่บางครั้งเราแทบจะไม่เห็น loading content เลยด้วยซ้ำ นั่นก็เพราะว่าเราโหลด defer ไวไป -->
<!-- โดยเราสามารถใส่ parameter 2 ตัวให้กับ loading ได้ คือ after, minimum -->
<!-- after คือเมื่อมีการสั่งโหลด defer จะให้มี delay เท่าไรจึงจะเปลี่ยนจาก placeholder เป็น loading -->
<!-- เช่น @loading (after 1s) เมื่อมีการสั่งโหลด หลังจากสั่งโหลด 1s จึงจะมาแสดง loading content -->
<!-- ก่อนหน้า delay 1s ก็จะแสดง placeholder content ต่อไปก่อน -->
<!-- และอีกตัวคือ minimum ที่จะบอกว่าให้แสดง content นี้อย่างน้อยตามเวลาที่กำหนดก่อนเข้าสู่ flow ถัดไป -->
<!-- เช่น @loading (minimum 5s) ก็คือเราสั่งให้แสดง loading content นี้ 5 วิก่อนที่จะแสดง defer -->
@loading (after 0ms; minimum 500ms) {
<h3>L O A D I N G</h3>
}

<!-- @placeholder มีเอาไว้เพื่อแสดง content ที่ระบุเอาไว้ก่อนที่ @defer จะถูกโหลด -->
<!-- เช่น เรามี @defer (on interaction) ตัวหนึ่ง ถ้าเราไม่ไปยุ่งอะไรกับมัน มันก็จะไม่ถูกโหลด -->
<!-- เราอาจจะอยากให้แสดงอะไรบางอย่างที่บอกให้ผู้ใช้งานรู้ว่าต้องกดนะ content ถึงจะถูกโหลด -->
<!-- เราจะใช้ @placeholder (value) และเขียนโค้ดที่จะแสดงเอาไว้ใน { ... } -->
<!-- เช่น @placeholder { <h1>Click on this component!</h1> } -->
<!-- เท่านี้ก่อนที่ Component จะถูกโหลดเราก็จะได้ h1 มาวางไว้ก่อน -->
<!-- พอเรา click / keydown ถึงจะโหลด Component ที่เรา defer เอาไว้มาแสดงแทน h1 -->
<!-- เราสามารถใส่ค่าเวลาใน () ได้ เพื่อจะแสดง placeholder นี้เป็นเวลาเท่าไรก่อน Component จะโหลด -->
<!-- เช่น @placeholder (minimum 1s) { ... } เราก็จะเห็น placeholder นี้อย่างน้อย 1s -->
<!-- พอผ่านจาก 1s ไปเราถึงจะสามารถโหลด deferred content ได้ -->
@placeholder (minimum 1s) {
<p>This is placeholder.</p>
}

<!-- @error มีเอาไว้เพื่อแสดงว่าโหลด Component นี้ไม่สำเร็จ ควรเขียนเอาไว้เสมอ -->
@error {
<h1>ERROR!</h1>
}
