<!-- ให้เรามองว่า Pipes เป็นท่ออันนึงที่มีทางเข้าและทางออก -->
<!-- เวลาเราใส่ข้อมูลเข้ามา เราอยากให้ข้อมูลออกไปเป็นแบบไหน อันนี้คือการทำงานแรก เรียกว่า transform -->
<!-- และเวลาเข้ามา อยากให้ข้อมูลแบบไหน ขนาดเท่าไรเข้า อันนี้คือการทำงานที่สอง เรียกว่า parsing -->
<!-- โดยถ้าเราแปลงข้อมูลให้เป็นแบบที่เราอยากจะรับเข้าท่อมาไม่ได้ก็จะส่ง error กลับไปเลย -->
<!-- วิธีการใช้ Pipes ก็ง่าย ๆ แค่ใส่ | ด้านหลังตัวแปรใน text interpolation ตามด้วยชื่อ Pipes -->
<!-- เราจะต้อง imports Pipes เข้ามาก่อนที่จะใช้งานด้วย จะเป็น PascalCase ที่ขึ้นด้วยชื่อและตามด้วย Pipe -->
<!-- เช่น CurrencyPipe, DatePipe, etc. -->
<!-- เวลาจะนำไปใช้เราจะใช้เป็นชื่อ Pipe แบบ lowercase แทน -->
<!-- เช่น {{ money | currency }} -->
<!-- มี built-in Pipe ให้ใช้เยอะ ไปหาอ่านเพิ่มเอาที่ Docs ได้เลย -->
<h1>This is currency: {{ forCurrency | currency }}</h1>

<!-- เราสามารถใส่ Pipe หลายตัวพร้อมกันใน text interpolation ได้โดยใช้ | คั่น -->
<!-- และ Pipe บางตัวสามารถรับ parameter ได้ ให้เราใช้ : ตามด้วยระบุค่าให้กับมัน -->
<!-- อย่าง data ที่สามารถรับ format วันเวลาได้ (เหมือนตอนที่เราตั้ง format วันเวลาใน Windows) -->
<!-- อาจจะเป็น date: "yyyy:dd" หรือระบุเวลาแทนวันที่อย่าง date: "hh:mm:ss" ก็ได้ -->
<!-- ถ้ามี parameter หลายตัวก็จะ : ต่อได้อีก เช่น date : "hh:ss" : "UTC" -->
<h1>This is date: {{ forDate | date : "hh:mm:ss" : "UTC" | uppercase }}</h1>

<!-- เราสามารถใช้ Arithmetic Operator ได้บน text interpolation -->
<!-- ไม่ว่าจะ +, -, *, /, %, &&, ||, ?? -->
<h1>This is percent: {{ forPercent - 8 | percent }}</h1>

<!-- ในการใช้ Pipe ที่เราสร้างขึ้นเองเราจะใช้ชื่อที่เราตั้งเอาไว้ใน name: string ของ @Pipe() -->
<!-- และเราจะต้องใส่ parameter ไปให้ตรงลำดับที่เราเขียนเอาไว้ด้วย -->
<h1>{{ forCustom | custom : "nein" : 3 }}</h1>
